<%- include ('partials/head',{title: 'Gad Eden | Admin-Dash'})%>
<body>
  <div id="transparent_back">
    <div id="content" class="min-vh-100 d-flex flex-column">
      <!-- start Navbar -->
      <%- include ('partials/nav',{page:'dashboard',type:type})%>
      <!-- End Navbar -->
      <!-- start Main -->
      <% if (alertModel.show===true) { %> <%- include
      ('partials/alertModel',{modelTitle:alertModel.modelTitle,modelMsg:alertModel.modelMsg,modelType:alertModel.modelType})%>
      <% } %>



  </div>
    <!-- start footer -->
  <%- include ('partials/footer')%>
  <!-- End footer -->
  <%- include ('partials/script')%>
    <script>
        function routeToAddProduct() {
            window.location.href = "/admin/add-product";
        }
    </script>
</body>
</html>