<%- include ('partials/head',{title: 'Gad Eden | Auth'})%>
  <body>
    <div id="transparent_back">
      <div id="content" class="min-vh-100 d-flex flex-column">
        <!-- start Navbar -->
        <%- include ('partials/nav',{page:'auth',type:type})%>
        <!-- End Navbar -->
        <!-- start Main -->
<% if (alertModel.show===true) { %> <%- include
      ('partials/alertModel',{modelTitle:alertModel.modelTitle,modelMsg:alertModel.modelMsg,modelType:alertModel.modelType})%>
      <% } %>
        <div class="section_sign">
          <div class="container">
            <div class="row full-height justify-content-center">
              <div class="col-12 text-center align-self-center py-5">
                <div class="section pb-5 pt-5 pt-sm-2 text-center">
                  <h6 class="mb-0 pb-3">
                    <span>Log In </span><span>Sign Up</span>
                  </h6>
                  <input
                    class="checkbox"
                    type="checkbox"
                    id="reg-log"
                    name="reg-log"
                  />
                  <label for="reg-log"></label>
                  <div class="card-3d-wrap mx-auto">
                    <div class="card-3d-wrapper">
                      <div class="card-front">
                        <div id="transparent_back"></div>
                        <div class="center-wrap">
                          <div class="section text-center">
                            <h4 class="mb-4 pb-3">Log In</h4>
                            <form id="login-form" action="/login" method="POST">
                              <div class="form-group">
                                <input
                                  type="text"
                                  name="userName"
                                  class="form-style"
                                  placeholder="user name"
                                  id="logName"
                                  autocomplete="off"
                                  required=""
                                />
                                <i class="input-icon uil uil-user-circle"></i>
                              </div>
                              <div class="form-group mt-2">
                                <input
                                  type="password"
                                  name="password"
                                  class="form-style"
                                  placeholder="Your Password"
                                  id="logPass"
                                  autocomplete="off"
                                />
                                <i class="input-icon uil uil-lock-alt"></i>
                              </div>
                              <button id="signIn-btn" class="btn mt-4">
                                LOG IN
                              </button>
                            </form>
                            <p class="mb-0 mt-4 text-center">
                              <a href="#0" class="link"
                                >Forgot your password?</a
                              >
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="card-back">
                        <div id="transparent_back"></div>
                        <div class="center-wrap">
                          <div class="section text-center">
                            <h4 class="mb-4 pb-3">Sign Up</h4>
                            <form id="register_form" action="/register" method="POSt">
                              <div class="form-group">
                                <input
                                  id="fname-input"
                                  class="form-style"
                                  type="text"
                                  name="userFirstName"
                                  placeholder="First Name"
                                  title="please enter your first name"
                                  minlength="2"
                                  maxlength="20"
                                  pattern="[a-zA-Z_ -ßöäüÖÄÜæé\s]{2,20}"
                                  required=""
                                  oninvalid="setCustomValidity('Numbers,special characters and empty are not allowed')"
                                  oninput="setCustomValidity('')"
                                  autocomplete="off"
                                />
                                <i class="input-icon uil uil-user"></i>
                              </div>
                              <div class="form-group mt-2">
                                <input
                                  id="lname-input"
                                  class="form-style"
                                  type="text"
                                  name="userLastName"
                                  placeholder="Last Name"
                                  title="please enter your last name"
                                  minlength="2"
                                  maxlength="20"
                                  pattern="[a-zA-Z_ -ßöäüÖÄÜæé\s]{2,20}"
                                  required=""
                                  oninvalid="setCustomValidity('Numbers,special characters and empty are not allowed')"
                                  oninput="setCustomValidity('')"
                                  autocomplete="off"
                                />
                                <i class="input-icon uil uil-user"></i>
                              </div>
                              <div class="form-group mt-2">
                                <input
                                  id="uname-input"
                                  class="form-style"
                                  type="text"
                                  name="userName"
                                  placeholder="User name"
                                  title="please enter a name to use it as username"
                                  minlength="2"
                                  maxlength="20"
                                  pattern="[a-zA-Z0-9_-]{2,20}"
                                  required=""
                                  oninvalid="setCustomValidity('special characters and empty spaces are not allowed')"
                                  oninput="setCustomValidity('')"
                                  autocomplete="off"
                                />
                                <i class="input-icon uil uil-user-circle"></i>
                              </div>
                              <div class="form-group mt-2">
                                <input
                                  id="email-input"
                                  class="form-style"
                                  type="email"
                                  name="email"
                                  placeholder="Email"
                                  title="please enter your email"
                                  autocomplete
                                  required=""
                                  oninput="setCustomValidity('')"
                                  autocomplete="off"
                                />
                                <i class="input-icon uil uil-at"></i>
                              </div>
                              <div class="form-group mt-2">
                                <input
                                  id="password-input"
                                  class="form-style"
                                  type="password"
                                  name="password"
                                  placeholder="Password"
                                  title="Password should be combination of one uppercase , one lower case, one special char, one digit and min 8 , max 20 char long"
                                  minlength="8"
                                  maxlength="20"
                                  required=""
                                  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@$.!%*#?&]).{8,20}"
                                  oninvalid="setCustomValidity('Password should be combination of one uppercase , one lower case, one special char, one digit and min 8 , max 20 char long')"
                                  oninput="setCustomValidity('')"
                                  autocomplete="off"
                                />
                                <i class="input-icon uil uil-lock-alt"></i>
                              </div>
                              <div class="form-group mt-2">
                                <input
                                  type="password"
                                  class="form-style"
                                  name="rePassword"
                                  placeholder="re-Password"
                                  title="Please rewrite you password here again"
                                  data-pristine-equals="#password-input"
                                  required=""
                                  oninput="check(this)"
                                  autocomplete="off"
                                />
                                <i class="input-icon uil uil-lock-alt"></i>
                              </div>
                              <button id="signUp-btn" class="btn mt-4">
                                Sign up
                              </button>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- start footer -->
  <%- include ('partials/footer')%>
  <!-- End footer -->
  <%- include ('partials/script')%>
  </body>
</html>
