<%- include ('partials/head',{title: 'Gad Eden | chart'})%>

<body>
  <%- include ('partials/nav3',{page:'dashboard',type:'WithLogoutBtn'})%>
  <div id="datedChart">
    <input type="date" name="filteredDate" id="ChartDate" value="<%= chosenDate%>">
    <select name="device" id="device-select">
      <% devicesNames.forEach(deviceName => { %>
      <option value="<%= deviceName%>" <%= chosenDevice===deviceName ? 'selected' : ''%>><%=deviceName%></option>
      <% }) %>

    </select>
    <div class="chart-container" style="position: relative; height: 20vh; width: 50vw">
      <canvas id="myChart"></canvas>
    </div>
    <div class="chart-container" style="position: relative; height: 20vh; width: 50vw">
      <canvas id="myChart1"></canvas>
    </div>
    <div class="chart-container" style="position: relative; height: 20vh; width: 50vw">
      <canvas id="myChart2"></canvas>
    </div>
  </div>
  <!-- footer -->
  <%- include ('partials/footer')%>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
    const SoilHumidityData = {
      labels: '<%- labels%>'.split(','),
      datasets: [{
        label: 'Soil Humidity (in %)',
        backgroundColor: 'rgb(255, 99, 132)',
        borderColor: 'rgb(9, 32, 235)',
        data: '<%- SoilHumidityData%>'.split(','),
      }, ],
    };
    const SoilHumidityConfig = {
      type: 'line',
      data: SoilHumidityData,
      options: {
        maintainAspectRatio: false,
      },
    };
    // light Chart data
    const LightData = {
      labels: '<%- labels%>'.split(','),
      datasets: [{
        label: 'light (in lux)',
        backgroundColor: 'rgb(255, 99, 132)',
        borderColor: 'rgb(9, 235, 21)',
        data: '<%- lightData%>'.split(','),
      }, ],
    };
    const LightConfig = {
      type: 'line',
      data: LightData,
      options: {
        maintainAspectRatio: false,
      },
    };
    // pump chart data
    const PumpData = {
      labels: '<%- labels%>'.split(','),
      datasets: [{
        label: 'pump (in 0/1)',
        backgroundColor: 'rgb(255, 99, 132)',
        borderColor: 'rgb(255, 99, 132)',
        data: '<%- pumpData%>'.split(','),
      }, ],
    };
    const PumpConfig = {
      type: 'line',
      data: PumpData,
      options: {
        maintainAspectRatio: false,
      },
    };
    const myChart = new Chart(document.getElementById('myChart'), SoilHumidityConfig);
    const myChart1 = new Chart(document.getElementById('myChart1'), LightConfig);
    const myChart2 = new Chart(document.getElementById('myChart2'), PumpConfig);
  </script>
  <!-- <script src="/js/pristine/dist/pristine.min.js"></script> -->
  <script src="/js/publicScript.js"></script>
  <script>
    const date = document.getElementById('ChartDate');
    const device = document.getElementById('device-select');
    date.addEventListener('change', (e) => {
      const device = document.getElementById('device-select').value;
      const date = e.target.value;
      window.location.href = `/user/dated-chart/${date}/${device}`;
    });
    device.addEventListener('change', (e) => {
      const date = document.getElementById('ChartDate').value;
      const device = e.target.value;
      window.location.href = `/user/dated-chart/${date}/${device}`;
    });
  </script>
</body>

</html>

<!-- <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<canvas id="myChart" ></canvas>
<script>
const ctx = document.getElementById('myChart').getContext('2d');
const myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
        datasets: [{
            label: '# of Votes',
            data: [12, 19, 3, 5, 2, 3],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script> -->