<%- include ('partials/head',{title: 'Gad Eden'})%>
<body>
  <div id="transparent_back">
    <div id="content" class="min-vh-100 d-flex flex-column">
      <!-- start Navbar -->
      <%- include ('partials/nav',{page:'index',type:type})%>
      <!-- End Navbar -->
      <!-- start Main -->
      <% if (alertModel.show===true) { %> <%- include
      ('partials/alertModel',{modelTitle:alertModel.modelTitle,modelMsg:alertModel.modelMsg,modelType:alertModel.modelType})%>
      <% } %>
      <div id="intro" class="title-container text-center">
        <h1 id="lws">Light&nbsp;Watering System</h1>
        <h3 id="rmc">remote&nbsp;Micro&nbsp;Controllers</h3>
        <h4 class="description text-center">GadEden 1 Version</h4>
        <br />
        <a href="#" class="btn">View Documentation Online</a>
      </div>
    </div>
  </div>

  <!-- start footer -->
  <%- include ('partials/footer')%>
  <!-- End footer -->
  <%- include ('partials/script')%>
</body>
</html>
